[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig.work

[includeIf "gitdir:~/code/"]
    path = ~/.gitconfig.personal

[push]
    default = simple
[color]
    ui = true
[alias]
    st = status --branch --short
    wat = log --graph --decorate --oneline -15
    follow = log --follow -p
